.card-type-service {
  background-color: white;
  border: 1px solid #c0c0c0;
  border-radius: 15px;
  width: 38%;

  padding: 2rem 4rem;

  font-size: 1.2rem;

  box-shadow: 11px 12px 5px 0px rgba(0,0,0,0.1);
}

.card-type-service h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 2rem;
  text-decoration: underline;
}

.card-type-service ul {
  list-style: none;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}